* {
    box-sizing: border-box;
    margin: 0;
}

/* HEADER */

.header {
    position: relative;
    width: 100%;
    height: 421px;
    background-image: url("../photos/cabecera.jpg");
    background-size: cover;
}

.container-name {
    background-color: rgba(9, 157, 142, 0.95);
    color:white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.group-name {
    margin: 0;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    font-size: inherit;
    
}

.menu {
    height: 45px;
    background-color: #1fcfbda6;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.item-list {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.claim {
    color: black;
    background-color: white;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    bottom: -30px;
    margin: auto;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 250px;

}

@media all and (min-width: 768px) {

    .container-name{
        display: flex;
        justify-content: space-between;
        padding-right: 45px;
        padding-left: 45px;
    }

    .menu {
        background-color: inherit;
        padding-top: 22px;
    }

    .list {
        margin: 0px;
        padding: 0px;
        width: 300px;
    }

    .item-list {
        padding: 0px;
    }
}

/* MAIN */

@media all and (min-width: 768px) {
.strenghs {
    display: flex;
    flex-direction: row;

}

    .strenghs-tablet {
        display: inline-block;
       width: 50%;
       order: 1;
   }

   .weakness-tablet {
       display: inline-block;
    width: 50%;
    order: 2;
 
   }
 
    
}


.team {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color: #099D8D;
    font-weight: 100;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
}

.description-team {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #54585A;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 45px;
    margin-right: 45px;
}
.strenghs {
    background-color: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 15px;
    
}
.form {
    background-color: white;
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 50%;
    transform: translate(-50%, -50%) rotate(0.38turn);
}
.team-1 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    color: #099D8D;
    font-weight: 100;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
    
}

.about {
    color: #099D8D;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    font-weight:normal;
    text-align: center;
    margin: 30px;
}
.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    display: block;
    margin: 0px;
}
.profiles {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: block;
    margin-left: 45px;
    margin-right: 45px;
    margin-block-start: 15px;
    color: #54585A;    
}

.picture {
    width: 180px;
    height: 180px;
    border: 4px solid #e0dfdf;
    border-radius: 8px;
    margin-bottom: 15px; 
    scale: 0.5;
}
.icons {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 15px;
    margin-bottom: 45px;
    padding: 0px 100px;
}


.iconcolor {
    color: #099D8D;
}

.profile1 {
    text-align: center;
}

@media all and (min-width: 768px) {
    .about {
        margin: 45px;
    }
    body {
        margin: 0px;
    }
    .profiles{
        padding: 0px 30px;
    }
    .left {
        display: flex;
        flex-direction: row;
    }
    .right {
        display: flex;
        flex-direction: row-reverse;
    }
    .picture {
        width: 250px;
        height: 250px;
    }
    .description-left {
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .description-right {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items: flex-end;
    
    }
    .icons {
        padding-left: 0px;
        width: 120px;
        justify-content: space-between;
        padding: 0px;
    }
    .description {
        margin-left: 0px;
        margin-right: 0px;
    }

}

/* FOOTER */

footer {
    border-top: 1px solid grey;
}

.name-group-footer {
    display:block;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #b8b8b9;
    font-size: 14px;
    
}

.list-footer {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    color: #54585A;
    font-size: 14px;
    margin-bottom: 30px;
}

.image-footer {
    display: block;
    margin: auto;
    width: 115.9px;
    height: 45px;
}

.item-list-footer {
    text-decoration: none;
    color: #54585A;
}


@media all and (min-width: 768px) {
    .footer-tablet {
        height: 170px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .name-group-footer {
       margin-top: 30px;
       margin-bottom: 15px;
       margin-left: 30px;
    }

    .menu-footer {
        order: 3;
        margin-right: 25px;
        margin-top: 25px;
    }

    .list-footer {
        text-align: right;
    }

    .logo-footer {
        order: 2;
        position: absolute;
        left: 0;
        margin-top: 60px;
        margin-left: 20px;
        margin-bottom: 60px;
    }

    .image-footer {
        width: 115,9px;
        height: 45px;
    }

    .item-list-footer {
        display: inline-block;
        margin-bottom: 10px;
    }
    
}

