<footer>
    <section class="footer-tablet">
        <div class="name-group-footer">
            <small> Adalover © 2018</small>
        </div>
        <nav class="menu-footer">
            <ul class="list-footer">
                <li><a class="item-list-footer" href="index.html#textteam">Equipo</a></li>
                <li><a class="item-list-footer" href="index.html#textabout">Quienes somos</a></li>
                <li><a class="item-list-footer" href="contact.html">Contacto</a></li>
            </ul>
        </nav>
        <div class="logo-footer">
            <a target="blank" href="https://adalab.es/"><img class="image-footer" src="https://raw.githubusercontent.com/Adalab/materiales-front-end-E/66d91c05bb798b346cc3b2dd0b7514ac63e6ec43/proyectos/assets/images/logo-adalab.png"
                    alt="logo-adalab"></a>
        </div>
    </section>
</footer>