<header class="header__contact">
    <div class="container-name">
            <div class="animation"> <a href="index.html"><img class="animation-image"  src="assets/images/corazon.png" alt="corazon"></a>

            </div>
        <h1 class="group-name">
            <a class="link__main" href="index.html">Adalover</a>
        </h1>
       
        <nav class="menu">
            <ul class="list">
                <li><a class="item-list" href="index.html#textteam">Equipo</a></li>
                <li><a class="item-list" href="index.html#textabout">Quienes somos</a> </li>
                <li><a class="item-list" href="contact.html">Contacto</a></li>
            </ul>
        </nav>
    </div>

    

</header>