<header class="@@header">
    <div class="container-header">
        <div class="container-name">
            <h1 class="group-name">
                <a class="link__main" href="index.html">Adalover</a>
            </h1>
            <nav class="menu">
                <ul class="list">
                    <li><a class="item-list" href="index.html#textteam">Equipo</a></li>
                    <li><a class="item-list" href="index.html#textabout">Quienes somos</a> </li>
                    <li><a class="item-list" href="contact.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="claim">
        <strong>"Elige un trabajo que te guste, y no tendrás que trabajar ni un día de tu vida" - Confucio</strong>
    </div>

</header>