
  <section class="container-team">
    <div class="links-team" id="textteam"></div>
    <h2 class="team">Equipo</h2>
    <p class="description-team">Cinco mujeres programadoras noveles dispuestas a hacer un cambio en su carrera
      profesional y luchar por la paridad en sectores tecnológicos. Para evolucionar tenemos que salir de
      nuestra zona de confort. Ahora con más ganas que conocimientos en HTML y CSS. Después grandes
      desarrolladoras front-end.</p>
  </section>

  <div class="form"></div>
  <div class="strenghs">
    <div class="container-strenghs">
    <section class="strenghs-tablet">
      <h3 class="team-1">Fortalezas</h3>
      <p class="description-team">La ilusión de sacar adelante nuestra primera web nos mueve. En el día a día...todas
        para una y una para todas.
      </p>
    </section>
    <section class="weakness-tablet">
      <h3 class="team-1">Debilidades</h3>
      <p class="description-team">Debilidades: expertas en la vida pero sin experiencia en código.
        Nuestra barra de descarga de conocimientos está “downloading”</p>
    </section>
  </div>
  <div class="links-about-us" id="textabout"></div>
</div>
<section>
