<main class="main-contact">
    <h1 class="tittle-contact">CONTACTO</h1>
    <div class="text-contact1">
        <p>¡Hola! <br>
                Si has llegado hasta aquí es porque tienes alguna duda, pregunta o te has quedado fascinado y quieres contratarnos. Déjanos tu comentario y  pronto tendrás noticias nuestras. <br> ¡Muchas gracias!
                </p>
    </div>
    <div class="text-contact2">
        <p>Todos los campos marcados con <span class="bluestart">*</span>  son obligatorios</p>
    </div>

    <form action="/signup" method="post" class="form-contact">
    <label for="completname" class="label-form">Nombre completo <span class="bluestart">*</span></label>
    <input placeholder="Nombre..." id="completname" type="text" name="completname" class="item-form" required>
    <label for="emailAddress" class="label-form">Email <span class="bluestart">*</span></label>
    <input value="nombre.apellidos@mail.com" id="emailAddress" type="email" name="emailAddress" class="item-form email-value" required>
    <label for="telephone" class="label-form">Teléfono</label>
    <input placeholder="Ej.123456789" id="telephone" type="tel" name="telephone" pattern="[1-9]{9}" class="item-form">
    <label for="comments" class="label-form">Mensaje <span class="bluestart">*</span></label>
    <textarea placeholder="¿Qué necesitas? JE JE" id="comments" name="comments" rows="8" cols="80" class="item-form comments" required></textarea>  
    <input type="submit" value="enviar" class="button-form"> 
    </form>
</main>