<h3 class="about">QUIÉNES SOMOS</h3>

            <div class="profiles">
                <section class="profile1 left">
                    <img class="picture picture-left" alt="Altea Piñeiro" src="assets/images/Altea.jpg">
                    <div class="description-left">
                    <h4 class="name">Altea Piñeiro</h4>
                    <p class="description">Historiadora de corazón, marketiniana de vocación. Como no conseguía
                        descifrar el mundo laboral, decidí descifrar código. Ahora me defino como:
                        &lt;!DOCTYPE=Developer&gt;.</p>
                    <ul class="icons">
                        <li>
                            <a href="https://twitter.com/AlteaPineiro" target="blank"><i class="fab fa-twitter iconcolor"></i></a></li>
                        <li>
                            <a href="https://www.linkedin.com/in/altea-pi%C3%B1eiro/" target="blank"><i class="fab fa-linkedin-in iconcolor"></i></a></li>
                        <li>
                            <a href="https://github.com/alteapin" target="blank"><i class="fab fa-github-alt iconcolor"></i></a></li>
                        <li>
                            <a href="mailto:alteap18@gmail.com" target="blank"><i class="fas fa-envelope iconcolor"></i></a></li>
                    </ul>
                </div>
                </section>
                <section class="profile1 right">
                    <img class="picture picture-right" src="assets/images/Aroa.jpg" alt="Aroa Tato">
                    <div class="description-right">
                    <h4 class="name">Aroa Tato</h4>
                    <p class="description">Ex de la Biología. El cese de la convivencia vino después de años de
                        inestabilidad. Por eso ahora he iniciado una nueva relación sentimental con el desarrollo
                        front-end. Todo pasa por algo es mi filosofía de vida.
                    </p>
                    <ul class="icons">
                        <li><a href="https://twitter.com/tato_aroa" target="blank"><i class="fab fa-twitter iconcolor"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/aroa-tato-de-la-torre-7a4880174/" target="blank"><i class="fab fa-linkedin-in iconcolor"></i></a></li>
                        <li><a href="https://github.com/aroatdlt" target="blank"><i class="fab fa-github-alt iconcolor"></i></a></li>
                        <li><a href="mailto:aroatdlt@gmail.com" target="blank"><i class="fas fa-envelope iconcolor"></i></a></li>
                    </ul>
                </div>

                </section>
                <section class="profile1 left">
                    <img class="picture picture-left" src="assets/images/Arranz.jpg" alt="Laura Arranz">
                    <div class="description-left">
                    <h4 class="name">Laura Arranz</h4>
                    
                    <p class="description">Ambientóloga apasionada viajando al desarrollo front-end con una maleta
                        cargada de metodologías ágiles y un neceser relleno de actitud. Inquieta y perseverante
                        ampliando mi zona de confort y buscando nuevos retos.</p>
                    <ul class="icons">
                        <li><a href="https://twitter.com/ArranzIzquierdo" target="blank"><i class="fab fa-twitter iconcolor"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/laura-arranz-izquierdo/" target="blank"><i class="fab fa-linkedin-in iconcolor"></i></a></li>
                        <li><a href="https://github.com/arranzizquierdo" target="blank"><i class="fab fa-github-alt iconcolor"></i></a></li>
                        <li><a href="mailto:laura.arranz88@gmail.com" target="blank"><i class="fas fa-envelope iconcolor"></i></a></li>
                    </ul>
                </div>
                </section>
                <section class="profile1 right">
                    <img class="picture picture-right" src="assets/images/Laura.jpg" alt="Laura Santiago">
                    <div class="description-right">
                    <h4 class="name">Laura Santiago</h4>
                    <p class="description">Me hice ilusiones con el Trabajo Social pero nunca apareció en la cita.
                        Tras
                        un paseo que empezó en La Mancha, siguió en Irlanda y terminó en Madrid, he iniciado un
                        flirteo
                        con la programación que espero marque mi futuro.</p>
                    <ul class="icons">
                        <li><a href="https://twitter.com/LauraSa72730461?lang=es" target="blank"><i class="fab fa-twitter iconcolor"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/laura-santiago-rada-09a6b2174/" target="blank"><i class="fab fa-linkedin-in iconcolor"></i></a></li>
                        <li><a href="https://github.com/laurasanra" target="blank"><i class="fab fa-github-alt iconcolor"></i></a></li>
                        <li><a href="mailto:laura.san.rada@gmail.com" target="blank"><i class="fas fa-envelope iconcolor"></i></a></li>
                    </ul>
                </div>
                </section>
                <section class="profile1 left">
                    <img class="picture picture-left" src="assets/images/Raquel.jpg" alt="Raquel Dacosta">
                    <div class="description-left">
                    <h4 class="name">Raquel Dacosta</h4>
                    <p class="description">Andaluza, de Lepe concretamente (y no… no sé ningún chiste :) ). Vengo
                        desde
                        el maravilloso mundo de la Publicidad y la fotografía de producto, pasando por varios
                        trabajos
                        en tiendas de moda (nada precarios y muy inspiradores, léase la ironía) hasta este
                        inesperado,
                        pero deseado, final de fiesta que es la programación front-end.</p>
                    <ul class="icons">
                        <li><a href="https://twitter.com/raqueldf" target="blank"><i class="fab fa-twitter iconcolor"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/raquel-d-41ab866a/" target="blank"><i class="fab fa-linkedin-in iconcolor"></i></a></li>
                        <li><a href="https://github.com/rdfornieles" target="blank"><i class="fab fa-github-alt iconcolor"></i></a></li>
                        <li><a href="rdfornieles@gmail.com" target="blank"><i class="fas fa-envelope iconcolor"></i></a></li>
                    </ul>
                    </div>
                </section>

            </div>
        </section>