.button-form {
    height: 45px;
    background-color: $colortext;
    color: white;
    font-family: $fontprincipal;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
}