footer {
    border-top: 1px solid grey;
}

.name-group-footer {
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #b8b8b9;
    font-size: 14px;
    font-family: 
}

.list-footer {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    color: $colorsecond;
    font-size: 14px;
    margin-bottom: 30px;
}

.image-footer {
    display: block;
    margin: auto;
    width: 115.9px;
    height: 45px;
}

.item-list-footer {
    text-decoration: none;
    color: $colorsecond;
}


@media all and (min-width: 768px) {
    .footer-tablet {
        height: 170px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .name-group-footer {
       margin-top: 30px;
       margin-bottom: 15px;
       margin-left: 138px;
    }

    .menu-footer {
        order: 3;
        margin-right: 138px;
        margin-top: 25px;
    }

    .list-footer {
        text-align: right;
    }

    .logo-footer {
        order: 2;
        position: absolute;
        left: 0;
        margin-top: 60px;
        margin-left: 127px;
        margin-bottom: 60px;
    }

    .image-footer {
        width: 115,9px;
        height: 45px;
    }

    .item-list-footer {
        display: inline-block;
        margin-bottom: 10px;
    }
    
}


