.header__main {
    position: relative;
    width: 100%;
    height: 421px;
    background-image: url("../images/cabecera.jpg");
    background-size: cover;
}

.header__contact {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("../images/cabecera.jpg");
    background-size: cover;
}

.container-header {
    background-color: rgba(9, 157, 142, 0.95);
    position: fixed;
    width: 100%;
    z-index: 2;
    text-transform: uppercase;
}



.group-name {
    margin: 0;
    padding-top: 22px;
    padding-bottom: 22px;
    text-align: center;
    font-size: inherit;
}

.fas.fa-heartbeat {
    color: rgb(184, 3, 3);
    padding-right: 10px;
    animation: beats 1.5s infinite;
  transform-origin: center;
}

@keyframes beats {
  from {
    transform: none;
  }

  50% {
    transform: scale(2.5);
  }

  to {
    transform: none;
  }
}


.link__main {
    text-decoration: none;
    color: white;
    font-family: $fontprincipal;
    font-size: $sizetext;
    animation: color 3s ease;
    animation-iteration-count: infinite;
    
    &:hover {
        font-size: 20px;
    }
}

@keyframes color {
   
    0% {
      color: #d2dae2;
    }
   
    25% {
color: #63cdda;
    }

    50% {
        color: #3dc1d3;
    }

    70% {
color:#f3a683;
    }
    
    100% {
      color: #f78fb3;
    }
  }

.menu {
    height: 45px;
    background-color: $colorprincipal;
    color: white;
    font-family: $fontprincipal;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.list {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.item-list {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.item-list:hover {
    border-bottom: 2px solid white;
}

.claim {
    color: black;
    background-color: white;
    padding: 15px;
    font-size: 18px;
    font-family: $fontsecond;
    position: absolute;
    bottom: -30px;
    margin: auto;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    min-width: 290px;
}

.claim__hidden {
    display: none;
}

@media all and (min-width: 768px) {
    .container-name {
        display: flex;
        justify-content: space-between;
        height: 60px;
        padding-right: 45px;
        padding-left: 45px;
    }
    .menu {
        background-color: inherit;
        padding-top: 22px;
    }
    .list {
        margin: 0px;
        padding: 0px;
        width: 300px;
    }
    .item-list {
        padding: 0px;
    }
    .claim {
        width: 441px;
        padding: 30px 15px;
        bottom: -1px;
        background-color: rgba(255, 255, 255, 0.829);
        left: 55px;
        transform: none;
    }
}

@media all and (min-width: 1200px) {
    .header__main {
        height: 550px;
    }
    .header__contact {
        height: 400px;
    }
    .container-name {
        max-width: 970px;
        margin: auto;
        padding-right: 0;
        padding-left: 0;
    }
}